/* Reset estilos para todos #1 los elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product-card {
  width: 300px;
  overflow: hidden;
  margin: 0;
}

.product-image {
  width: 100%;
  border-radius: 10px;
}

.product-name {
  text-align: left;
}

.product-price {
  text-align: left;
  font-weight: bold;
}

.buy-button {
  width: 100%;
  padding: 10px;
  background-color: #0088cc;
  color: #fff;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 30px;
}

.product-card-container {
  display: flex;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}

.product-card {
  margin: 0 auto;
}


.image-bg {
  background-image: url(https://acortar.link/O5yPpC);
  background-size: cover;

}