@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500&display=swap');

:root {
    --c1: #2E2F30;
    --c2: #00E58B;
    --c3: #ffffff;
}

.c1 {
    background-color: var(--c1);
}
.c3 {
    color: var(--c3);
}
.c3:hover {
    color: var(--c2);
}
.active {
    background-color: var(--c2) !important;
}

#fonts {
    font-family: 'Bodoni Moda', serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 10px;
}
