<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bond Perfumeria</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/products.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <!-- slider -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
  <link rel="stylesheet" href="/assets/css/slider-brand.css">
</head>

<body>

  <!-- navbar -->
  <nav class=" bg-light bg-dark">
    <div class="container-fluid d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item"><a id="fonts" href="/index.html" class="nav-link link-dark px-2 text-light">Bond
            Perfumeria</a></li>
      </ul>
      <ul class="nav">
        <li class="nav-item"><a
            href="https://api.whatsapp.com/send?phone=+573202028049&text=Hola!%20quiero%20informaci%C3%B3n%20de%20las%20fragancias."
            class="nav-link link-dark px-2  text-light"><i class="bi bi-whatsapp"></i>&nbsp;+573202028049</a></li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid d-flex justify-content-center flex-wrap c1">
    <header class="d-flex justify-content-center py-1">
      <ul class="nav nav-pills">
        <li class="nav-item margin-btn"><a href="/index.html" class="nav-link c3">Home</a></li>
        <li class="nav-item margin-btn"><a href="./mens.html" class="btn btn-success active">Hombre</a></li>
        <li class="nav-item margin-btn"><a href="#" class="nav-link c3">Mujer</a></li>
      </ul>
    </header>
  </div>

  <!-- main products -->
  <main>

    <div class="py-5">
      <div class="container">
        <div id="mens5Container" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <!-- <div class="card____ bg-dark">
            <img src="/assets/img/products/1.png" alt="" class="card____img">
      
            <div class="card____content">
              <div class="card____data">
                <h1 class="card____title">Nike Air Jordan</h1>
                <a id="buttonHover" href="#" class="card____button">Comprar</a>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>

    <!-- pagination -->
    
      <nav aria-label="Page navigation example">
        <ul class="pagination py-5">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="./mens.html">1</a></li>
          <li class="page-item"><a class="page-link" href="./mens2.html">2</a></li>
          <li class="page-item"><a class="page-link" href="./mens3.html">3</a></li>
          <li class="page-item"><a class="page-link" href="./mens4.html">4</a></li>
          <li class="page-item"><a class="page-link btn-success active" href="./mens5.html">5</a></li>
          <li class="page-item"><a class="page-link" href="./mens6.html">6</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
  </main>



  <!-- footer -->
  <div class="container">
    <footer class="py-3 my-4">
      <p class="nav justify-content-center pb-3 mb-3 title-footer">BOND PERFUMERIA</p>
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><i class="bi bi-instagram icons-sm"></i></a>
        </li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><i class="bi bi-facebook icons-sm"></i></a>
        </li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><i class="bi bi-whatsapp icons-sm"></i></a>
        </li>
      </ul>
      <p class="text-center text-muted">Developed by <a href="https://github.com/CarlDesigner" class="copy">CarlDesigner
        </a>&copy; 2022 <strong>Bond Perfumeria</strong>, Todos los izquierdos reservados.</p>
      <p class="text-center text-muted">Bogotá, Colombia.</p>
    </footer>
  </div>

  <!-- scripts -->
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/app.js"></script>
  <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>

</html>